.wrapper {
    background: var(--bg_color, #eee);
    border-radius: 7px;
}

.listItem {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

.listItem :global(.ant-list-item-meta-title a) {
    color: var(--accent_text_color, blue) !important;
}

.listItem :global(.ant-list-item-meta-description) {
    color: var(--text_color, #333) !important;
}
